*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/tests/Browser
/.playwright-mcp
.cursor/commands
/resources/js/wayfinder
/resources/js/actions
/resources/js/routes
package-lock.json
.zephyr/
